
.container-fluid{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }

 .nav-link{
    padding: 0px 10px ;
 }

 body{
   background-image: url("../assets/adminbackground.jpg");
 }

 







