<!-- <button type="submit" style="margin-left: 1%; margin-top: 10px;" mat-raised-button color="primary" routerLink="/userview" >Back  </button>

<div class="logout">
    <button mat-raised-button color="warn" (click)="logout()" routerLink="/loginView">Logout</button>
  </div>


<div id="table">
  <div id="detail">
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Food Id</th>
        <th scope="col">Image</th>
        <th scope="col">Food Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    
    
    <tbody>
      <tr *ngFor="let r of userFavRest">
        <td>{{r.foodId}}</td>
        <td><img src="../../../assets/{{r.foodName}}.jpg" alt=""></td>
        <td>{{r.foodName}}</td>
        <td>{{r.quantity}}</td>
        <td>{{r.price}}</td>
        <td>
          <button  class="but" mat-raised-button color="accent" type="button"  (click)="deleteFavoFoodItemToUser(r.foodId)"><mat-icon> delete </mat-icon></button> 
        </td>
      
      </tr>
    </tbody>
  </table>
</div> -->

<!-- <router-outlet></router-outlet> -->


<nav class="navbar sticky-top navbar-dark bg-dark" *ngIf="userService.Islogidin() && userService.isUserView()">
  <div class="container-fluid" style="color: white; justify-content: center;">



    <li style="display: flex;">

      <a class="nav-link active" routerLink="/profile">Profile</a>

      <a class="nav-link active" routerLink="/favouriteview" >favourite Restaurants</a>

      <a class="nav-link active" routerLink="/favouritefoodsview" style="background-color: red;">favourite Dishes</a>

      <a class="nav-link active" routerLink="/cartview">Add to Cart</a>

    </li>


  </div>

</nav>


<div class="main">
  <ul class="cards">
    <li class="cards_item" *ngFor="let r of  userFavRest">
      <div class="card">
        <div class="card_image"><img src= "../../assets/{{r.foodName}}.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">{{r.foodName}}     &#x20b9; {{r.price}}</h2>
          <div class="card_text">
            <p>Food Id : {{r.foodId}}</p>
            <p>Quantity : {{r.quantity}}</p>
            <div style="display: flex; justify-content: space-around;">
              
              <button mat-raised-button color="warn" (click)="deleteFavoFoodItemToUser(r.foodId)"> Delete</button>
              <button mat-raised-button color="warn" (click)="addToCart(r)"> Add Cart</button>
            </div>
            
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>